/* =============
    Section 5
============= */
#section-5 {
    background-color: $pink;
    height: 800px;
    width: 100%;

    h1 {
        font-family: "Lobster Two", sans-serif;
        color: coral;
        font-size: 60px;
        padding: 40px;
    }

    #sale-gallery {
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-areas: ". sale .";
        padding: 60px 0;
        
        ul {
            display: grid;
            grid-area: sale;
            grid-template-areas: "sale-1""sale-2"
                                 "sale-3""sale-3" ;
            >li{
                grid-area: sale;
                width: 100%;
                padding: 5px 8px;

                .sale-1 {
                    grid-area: sale-1;
                }

                .sale-2 {
                    grid-area: sale-2;
                }

                .sale-3 {
                    grid-area: sale-3;
                }
            }
        }
    }
}