/* =============
    Section 5
============= */
#section-5 {
    background-color: $pink;
    height: 800px;
    width: 100%;

    h1 {
        font-family: "Lobster Two", sans-serif;
        color: coral;
        font-size: 60px;
        padding: 40px;
    }

    #sale-gallery {
        height: 500px;
        width: auto;

        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-areas: ". sale .";
        padding: 60px 0;


        ul {
            display: grid;
            grid-area: sale;
            grid-gap: 20px;
            grid-template-areas: "sale-1""sale-2""sale-3";

            list-style-type: none;
            margin: 0 auto;
            height: auto;
            width: 940px;

            li {
                background-position: center;
                background-size: contain;

                width: 100%;
                padding: 5px 8px;

                #1 {
                    background-image: url("../img/section-5/sale-1.jpg");
                    grid-area: sale-1
                }

                #2 {
                    background-image: url("../img/section-5/sale-2.jpg");
                    grid-area: sale-2
                }

                #3 {
                    background-image: url("../img/section-5/sale-3.jpg");
                    grid-area: sale-3
                }
            }
        }
    }
}