/* =============
    Footer
============= */
footer {
    background-color: $teal;
    height: 340px;
    width: 100%;
    padding: 30px;

    border-top: 8px solid $gold;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;

    #text {
        font-family: "Gothic A1", sans-serif;
        color: $white;
        font-size: 20px;

        ul {
            display: block;
            list-style-type: none;
            margin: 0 auto;
            padding: 5px;
        }

        li {
            list-style-type: none;

            a {
                color: $white;
                display: block;
                text-align: left;
                text-decoration: none;
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transition: all .25s ease;
            }
        }

        li:hover a {
            background: $teal;
            color: $gold;
        }
    }

    #media{
        font-family: "Gothic A1", sans-serif;
        color: $white;
        font-size: 20px;

        h1{}

        ul{
            display: flex;
            list-style-type: none;
            margin: 0 auto;
            padding: 5px;
        }

    }
}
