/* =============
    Header
============= */
header{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    
    div {
        display: grid;
        grid-template-columns: 20% 2fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: "logo natural bath hair fragrance skincare";
        
        #logo{
            grid-area: logo;
            height: 40px;
            padding: 10px;
        }

        #logo-container{
            grid-area: natural;
            padding: 10px;
            text-align: left;
            font-family: "Gothic A1", sans-serif;
            font-weight: 900;
            font-size: 50px;
            color: coral;
        }

        #nav-container { 

                >#bath{
                    display: grid;
                    grid-area: bath;
                }
                
                >#hair{
                    display: grid;
                    grid-area: hair;
                }

                >#fragrance{
                    display: grid;
                    grid-area: fragrance;
                }

                >#skincare{
                    display: grid;
                    grid-area: skincare;
                }

        }
    }
}