/* =============
    Header
============= */
nav {
    width: 100%;
    background-color: $white;
    display: flex;
    overflow: none;
    position: relative;

    #logo {
        height: 90px;
        width: 335px;
        padding: 10px 50px;
        float: left;
    }

    #nav-container {
        ul {
            display: flex;
            float: right;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            width: auto;
        }

        li {
            float: right;
            margin: 0;
            padding: 0;
            text-decoration: none;

            a {
                color: $blue;
                display: block;
                font-family: "Lobster Two", serif;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transition: all .25s ease;
            }
        }

        li:hover a {
            background: $white;
            color: $gold;
        }
    }
}

nav{
    border-bottom: 8px solid $gold;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
}